<app-header-admin pageTitle="CMS@CMR" imageUrl="dashboard" helpType="homepage"></app-header-admin>
<mat-tab-group class="tab-group">
    <mat-tab label="Manage">
        <mat-card>
            <mat-card-title class="middle-headline">Student Management</mat-card-title>
            <mat-card-subtitle>Student Management
                <button mat-raised-button> App</button>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            
        </mat-card>
    </mat-tab>
    <mat-tab label="AboutUs">
        <mat-card>
            <mat-card-content>
                <p class="middle-headline">CMR@CMS
                    <br><strong>COLLEGE MANAGEMENT SYSTEM.</strong>
                </p>
                <p class="bodytext">CMS@CMR is a complete desktop App to manage Students, Employee, Payroll.</p>
                
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="FAQ">
        <mat-card>
            <mat-card-content>
                <p class="middle-headline">CMR@CMS
                    <br><strong>COLLEGE MANAGEMENT SYSTEM.</strong>
                </p>
                <p class="bodytext">click the link below CMR to get to web site for any quries.</p>
                
            </mat-card-content>
        </mat-card>
    </mat-tab>
    
    
    <mat-tab label="Terms">
        <mat-card>
            <mat-card-content>
                <label class="bodylabel">Terms & Conditions</label>
                <br/>
                <p class="bodytext">
                    <label class="bodylabel">Terms of Use</label>
                    <br/>

                    <label class="bodylabel">Use and Acceptance</label>
                    <br/> This Web site (the "Site") College Management app, and any tools and/or services
                    offered and/or provided by  cms@cmr and/or its subsidiaries through this Site (collectively,
                    the "Services"), are offered to you conditioned upon your acceptance without modification of these Terms
                    of Use. By using this Site or any Services, you agree to these Terms of Use. Please read these Terms
                    of Use carefully. If you do not agree to these Terms of Use, you may not use this Site or any Services
                    offered or provided through this Site.
                    <br/>
                    
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>